.backgroundD {
    background-color: #17181A;
    color: #005db2;
}

.backgroundL {
    background-color: #e6e7e9;
      color: rgb(172, 171, 171);
}

.colorD {
    background-color: #303136;
    color: #005db2;
}

.colorL {
    background-color: #ffffff;
    color: rgb(172, 171, 171);
}